<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
    rel="icon"
    type="image"
    href="https://res.cloudinary.com/dzgsxcuax/image/upload/v1707428264/Portafolio-%20David%20Castro/bkgqn3cr6xdrohfxuoee.png"
    />
    <meta name="description" content="Portafolio de David Castro" >
    <meta name="keywords" content="HTML, CSS, JS, META, PALABRAS CLAVE, SITIO WEB">
    <title>Portafolio | Contáctame</title>

    <link rel="stylesheet" href="../styles/styles.css">

    <link rel="stylesheet" href="../styles/css/styles.css">

</head>

<body>


    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Dawid.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../image/menu icono.png" class="menu icono" alt="">
            </label>
            <!-- <nav class="navbar">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                    <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                    <li><a href="./Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                    <li><a href="Sobre-mí.html">sobre mí</a></li>
                </ul>
            </nav> -->
               <!-- nav -->
               <nav class="navbar navbar-expand-lg">
                <div class="container-fluid ">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <button class="navbar-toggler text-bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ul-responsive_border me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item li-responsive__color border-top ">
                                <a class="nav-link  " aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item li-responsive__color">
                                <a class="nav-link  " aria-current="page" href="./mi-experiencia-laboral.html">Mi experiencia laboral</a>
                            </li>
                            <li class="nav-item li-responsive__color">
                                <a class="nav-link  " aria-current="page" href="./proyectos-destacados.html">proyectos destacados</a>
                            </li>
                            <li class="nav-item li-responsive__color">
                                <a class="nav-link  " aria-current="page" href="./Herramientas-utilizadas.html">Herramientas utilizadas</a>
                            </li>
                            <li class="nav-item li-responsive__color  border-bottom ">
                                <a class="nav-link  " aria-current="page"  href="./Sobre-mí.html">sobre mí</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- nav -->
        </div>
        <div class="header-content container">
            <h1>¡Hola!</h1>
            <h2>Soy David</h2>
            <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
                que brinden soluciones de impacto para las empresas.
            <p>
                <a href="Contactame.html" class="btn-1 rounded text-decoration-none ">Contactame</a>
        </div>
    </header>

    <main class="container">
     <div class="d-flex justify-content-center align-content-center  my-5">
        <div class="contactame-formulario__div">
            <h3 class="fw-bold fs-3 text-center ">Comentame sobre tu proyecto</h3>
            <form class="form">
                <div class="mb-3 d-flex flex-column gap-3">
                  <div >
                    <p>Nombres y apellidos</p>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Ingresa tu nombre completo">
                  </div>
                        <div>
                            <p>Empresa</p>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Ingresa el nombre de tu empresa">
                        </div>
                        <div>
              <p>Teléfono</p>
            <input  type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="Indica tú número de teléfono">
          </div>
                   <div>
                    <p>Correo</p>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu correo">
                   </div>
                    <div>
                    <p>Descripción de la propuesta de trabajo</p>
                        <textarea  class="form-control "   name="textarea" id="exampleFormControlInput1" cols="30" rows="10"></textarea>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="  bg-black text-white rounded p-2">Contactar</button>
                    </div>
            </form>
        </div>
     </div>
        
    </main>

    <footer class="footer m-0 py-5 ">
        <div class="container">
            <div class="d-flex flex-column  gap-2 ">
                <h3> David Castro - UX Designer</h3>
                <div class="footer-div__columns">
                    <ul class="footer-contacto__ul">
                        Páginas
                        <div class="px-4">
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="../index.html">home</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="./views/mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="./views/proyectos-destacados.html">Proyectos destacados</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="views/Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="./views//Sobre-mí.html">Sobre mí</a></li>
                        </div>
                    </ul>
                    <ul class="footer-contacto__ul">
                        Contacto
                        <div class="px-4">
                                <li class="footer-contacto__li">923416407</li>
                                <li class="footer-contacto__li">david.castro0195@gmail.comx</li>
                        </div>
                    </ul>
                    <ul class="footer-contacto__ul">
                        Redes Sociales
                        <div class="px-4 d-flex justify-content-center gap-3">
                            <a class="text-white fs-3" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                            <a class="text-white fs-3" href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
                        </div>
           
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center  mt-5 ">
            Copyrights. David Castro. All rigths reserved 2023
        </div>
    </footer>

<script src="../styles/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/760e3cbc52.js" crossorigin="anonymous"></script>

</body>

</html>