<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | herramientas-utilizadas</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Dawid.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../image/menu icono.png" class="menu icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                    <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                    <li><a href="./Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                    <li><a href="Sobre-mí.html">Sobre mí</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>¡Hola!</h1>
            <h2>Soy David</h2>
            <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
                que brinden soluciones de impacto para las empresas.
            <p>
                <a href="Contactame.html" class="btn-1">Contactame</a>
        </div>
    </header>
    <main class="servicios-content">
        <h2 class="title">Herramienta de diseño y prototipado: FIGMA </h2>
        <P> Figma es una herramienta de diseño que me permite bocetar, organizar y plasmar mis ideas en mockups de baja, media y alta fidelidad,
            para después conectar estos y darle animaciones a los flujos elaborados. Esto con el fin de dar a entender al equipo mis propuestas.
        </P>
        <img height="350px" width="420px" src="../image/FIGMA 1.png" alt="">
        <img height="350px" width="420px" src="../image/FIGMA PANTALLAS.png" alt="">
        <h2 class="title">Herramientas para organizar mis trabajos</h2>
        <p> Para organizar mis trabajos según el equipo o la tarea que requiera, utilizo airtable, Notion o Treelo. Estas herramientas me permiten gestionar mis tareas y notificar al equipo el estado de mis actividades.</p>
        <img height="350px" width="420px" src="../image/TRELLO.png" alt="">
        <img height="350px" width="420px" src="../image/airtable.png" alt="">
        <img height="350px" width="420px" src="../image/notion.png" alt="">
    </main>

    <footer class="footer">
        <h3> David Castro</h3>
        <ul>
            <nav class="nav bar">
                <li> <a href="../index.html">home</a></li>
                <li> <a href="../Paginas/mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                <li> <a href="proyectos-destacados.html">Proyectos destacados</a></li>
                <li> <a href="Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                <li> <a href="../Paginas/Sobre-mí.html">Sobre mí</a></li>
            </nav>
        </ul>
        <p>oog
            Contacto
            923416407
            david.castro0195@gmail.com
            Copyrights. David Castro. All rigths reserved 2023
        </p>

    </footer>
</body>

</html>