<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | herramientas-utilizadas</title>
    <link rel="stylesheet" href="../styles/styles.css">

    <link rel="stylesheet" href="../styles/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="menu container">
            <a href="../index.html" class="logo">Dawid.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../image/menu icono.png" class="menu icono" alt="">
            </label>
            <!-- <nav class="navbar">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                    <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                    <li><a href="./Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                    <li><a href="Sobre-mí.html">Sobre mí</a></li>
                </ul>
            </nav> -->
            
                 <!-- nav -->
                 <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid ">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <button class="navbar-toggler text-bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav ul-responsive_border me-auto mb-2 mb-lg-0 ">
                                <li class="nav-item li-responsive__color border-top ">
                                    <a class="nav-link  " aria-current="page" href="../index.html">Home</a>
                                </li>
                                <li class="nav-item li-responsive__color">
                                    <a class="nav-link  " aria-current="page" href="./mi-experiencia-laboral.html">Mi experiencia laboral</a>
                                </li>
                                <li class="nav-item li-responsive__color">
                                    <a class="nav-link  " aria-current="page" href="./proyectos-destacados.html">proyectos destacados</a>
                                </li>
                                <li class="nav-item li-responsive__color">
                                    <a class="nav-link  " aria-current="page" href="./Herramientas-utilizadas.html">Herramientas utilizadas</a>
                                </li>
                                <li class="nav-item li-responsive__color  border-bottom ">
                                    <a class="nav-link  " aria-current="page"  href="./Sobre-mí.html">sobre mí</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- nav -->
        </div>
        <div class="header-content container">
            <h1>¡Hola!</h1>
            <h2>Soy David</h2>
            <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
                que brinden soluciones de impacto para las empresas.
            <p>
                <a href="./Contactame.html" class="btn-1 rounded text-decoration-none ">Contactame</a>
        </div>
    </header>
    <main class="servicios-content d-flex gap-4 flex-column ">
        <div class="mb-4 ">
            <h3 class="fw-bold fs-2 text-start  mb-4">Herramienta de diseño y prototipado: FIGMA </h3>
            <P> Figma es una herramienta de diseño que me permite bocetar, organizar y plasmar mis ideas en mockups de baja, media y alta fidelidad,
                para después conectar estos y darle animaciones a los flujos elaborados. Esto con el fin de dar a entender al equipo mis propuestas.
            </P>
    <div class="d-flex gap-3 justify-content-center flex-wrap ">
        <img height="350px" width="420px" src="../image/FIGMA 1.png" alt="">
        <img height="350px" width="420px" src="../image/FIGMA PANTALLAS.png" alt="">
    </div>
        </div>
        <div class="mt-4">
                <h3 class="fw-bold fs-2 text-start mb-4">Herramientas para organizar mis trabajos</h3>
                <p> Para organizar mis trabajos según el equipo o la tarea que requiera, utilizo airtable, Notion o Treelo. Estas herramientas me permiten gestionar mis tareas y notificar al equipo el estado de mis actividades.</p>
            <div class="d-flex justify-content-center gap-3 flex-wrap ">
                <img height="350px" width="420px" src="../image/TRELLO.png" alt="">
                <img height="350px" width="420px" src="../image/airtable.png" alt="">
                <img height="350px" width="420px" src="../image/notion.png" alt="">
            </div>
        </div>
    </main>

    <footer class="footer m-0 py-5 ">
        <div class="container">
            <div class="d-flex flex-column  gap-2 ">
                <h3> David Castro - UX Designer</h3>
                <div class="footer-div__columns">
                    <ul class="footer-contacto__ul">
                        Páginas
                        <div class="px-4">
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="index.html">home</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="../Paginas/mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="../Paginas/proyectos-destacados.html">Proyectos destacados</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="views/Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                            <li class="footer-contacto__li"> <a class="text-decoration-none " href="../Paginas/Sobre-mí.html">Sobre mí</a></li>
                        </div>
                    </ul>
                    <ul class="footer-contacto__ul">
                        Contacto
                        <div class="px-4">
                                <li class="footer-contacto__li">923416407</li>
                                <li class="footer-contacto__li">david.castro0195@gmail.comx</li>
                        </div>
                    </ul>
                    <ul class="footer-contacto__ul">
                        Redes Sociales
                        <div class="px-4 d-flex justify-content-center gap-3 ">
                            <a class="text-white fs-3" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                            <a class="text-white fs-3" href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
                        </div>
           
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center  mt-5 ">
            Copyrights. David Castro. All rigths reserved 2023
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/760e3cbc52.js" crossorigin="anonymous"></script>
    <script src="../styles/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>