<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | Mi experiencia laboral</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Dawid.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../image/menu icono.png" class="menu icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                    <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                    <li><a href="Sobre-mí.html">Sobre mí</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>¡Hola!</h1>
            <h2>Soy David</h2>
            <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
                que brinden soluciones de impacto para las empresas.
            <p>
                <a href="Contactame.html" class="btn-1">Contactame</a>
        </div>
    </header>
    <main class="servicios-content">
        <h2 class="title">Inicios de mi experiencia como UX</h2>
        <p>
            Comence como diseñador UX, trabajando como freelance:
        </p>
            <ul class="li">
                    <li>1. Mockups en baja para una landing page de Farmacias.
                    </li>
                    <li>2. Realizar un elevator pitch para una empresa que ofrece Beneficios laborales para los
                        colaboradores
                        de
                        las empresas.
                    </li>
                    <li>
                        3. Realizar el rediseño de una landing page de una clínica que ofrecia los servicios para poder
                        realizar
                        los test del COVID - 19 en sus sedes.
                    </li>
            </ul>
        <p>
            Estos me ayudaron a centrar más lo que deseaba como diseñador y comenzar a buscar más oportunidades para el
            camino del diseño de sistemas de interfaces.
        </p>

        <img class="ux inicio" src="../image/inicios ux.png" alt="">

        <h1 class="title">Donde empece a trabajar con un equipo de UX/UI</h1>
        <P> Trabaje en la empresa chilena KLOG.CO, en esta empresa tuve la oportunidad
            de laborar como UX Research para el diseño de un software de logística, trabajando junto con un equipo de
            UX/UI, el cual me permitió conocer más sobre
            el trabajo en equipo ( Metodologías ágiles, design thinking, entre otras herramientas).
            También fue donde comence a realizar más mockups en alta y empece a proponer mis ideas para agilizar los
            flujos del
            usuario.
        </P>
        <img height="500px" width="1000" class="ux inicio" src="image 4.png" alt="">
        <h2 class="title">Actualmente trabajando en JAZANI CONSULTORA AMBIENTAL</h2>
        <img height="500px" width="1000" class="ux inicio" src="jazani.jpg" alt="">

    </main>

    <footer class="footer">
        <h3> David Castro</h3>
        <ul>
            <nav class="nav bar">
                <li> <a href="../index.html">home</a></li>
                <li> <a href="mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                <li> <a href="../Paginas/proyectos-destacados.html">Proyectos destacados</a></li>
                <li> <a href="../Paginas/Sobre-mí.html">Sobre mí</a></li>
            </nav>
        </ul>
        <p>
            Contacto
            923416407
            david.castro0195@gmail.com
            Copyrights. David Castro. All rigths reserved 2023
        </p>

    </footer>

</body>

</html>