<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | proyectos-destacados</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>


<body>

<header class="header">
    <div class="menu container">
        <a href="#" class="logo">Dawid.</a>
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="../image/menu icono.png" class="menu icono" alt="">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                <li><a href="./Herramientas-utilizadas.html">Herramientas utilizadas</a></li>
                <li><a href="Sobre-mí.html">Sobre mí</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-content container">
        <h1>¡Hola!</h1>
        <h2>Soy David</h2>
        <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
            que brinden soluciones de impacto para las empresas.
        <p>
            <a href="Contactame.html" class="btn-1">Contactame</a>
    </div>
</header>
    <main class="servicios-content">
            <h2 class="title">Landing page para farmauna</h2>
            <div>
                <img height="300px" width="250px" src="../image/Captura de pantalla 2023-12-11 014246.png" alt="">
                <img height="300px" width="250px" src="../image/farmauna1.png" alt="">
                <img height="300px" width="250px" src="../image/farmauna2.png" alt="">
                <img height="300px" width="250px" src="../image/farmauna 4.png" alt="">
            </div>
            <h2 class="title">Software para KLOG</h2>
            <div>
                <img height="160px" width="300px" src="../image/imagen 2 klog.png" alt="">
                <img height="160px" width="300px" src="../image/klogimagen.png" alt="">
                <img height="160px" width="300px" src="../image/klog4.png" alt="">
                <img height="160px" width="300px" src="../image/imagen 3 klog.png" alt="">
            </div>
            
            <h2 class="title">Software para SANIPES</h2>
            <div>
                <img height="300px" width="250px" src="../image/SANIPES 1.png" alt="">
                <img height="300px" width="250px" src="../image/SANIPES3.png" alt="">
                <img height="300px" width="250px" src="../image/SANIPES 4.png" alt="">
                <img height="300px" width="250px" src="../image/SANIPES3.png" alt="">
            </div>
            
    </main>

    <footer class="footer">
        <h3> David Castro</h3>
        <ul>
            <nav class="nav bar">
                <li> <a href="../index.html">home</a></li>
                <li> <a href="../Paginas/mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                <li> <a href="proyectos-destacados.html">Proyectos destacados</a></li>
                <li> <a href="../views/Herramientas-utilizadas.html">Herramientas utilizadas</a> </li>
                <li> <a href="../Paginas/Sobre-mí.html">Sobre mí</a></li>
            </nav>
        </ul>
        <p>oog
            Contacto
            923416407
            david.castro0195@gmail.com
            Copyrights. David Castro. All rigths reserved 2023
        </p>

    </footer>




</body>


</html>