<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio | Sobre mí</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Dawid.</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../image/menu icono.png" class="menu icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="mi-experiencia-laboral.html">mi experiencia laboral</a></li>
                    <li><a href="proyectos-destacados.html">proyectos destacados</a></li>
                    <li><a href="Sobre-mí.html">sobre mí</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>¡Hola!</h1>
            <h2>Soy David</h2>
            <p class="txt-p">Soy un diseñador ux/ui que busca ofrecer ideas creativas
                que brinden soluciones de impacto para las empresas.
            <p>
                <a href="Contactame.html" class="btn-1">Contactame</a>
        </div>
    </header>

    <main class="servicios-content">
        <div> 
        <h2 class="title">¿Cómo me interese por el ux y cuál es mi misión como diseñador?</h2>
        <p class="txt-p">
            Todo comenzo cuando un familiar me comento sobre el mundo del UX y que le parecía que era un tema
            muy bien visto para las empresas y que a futuro va a tener un buen desarrollo en los negocios digitales.
            Comence a indagar en artículos, páginas webs y demás contenidos relacionados a esta rama del diseño,
            ya que siempre curioseaba sobre tecnología, al darme cuenta que necesitaba aprender diseño desde cero, me
            desanime un poco por que yo me encontraba
            estudiando marketing y pensé que sería muy difícil para mí.
            Hasta que un día encontre coderhouse y con las clases de diseño UX/UI, comencé mi
            camino de aprendizaje en las herramientas de diseño y más adelante en otras herramientas que me ayudarían a
            complementar mi trabajo en el mundo del UX/UI.
        </p>
            <h2 class="title">Misión</h2>
            <p class="txt-p">Mi misión es poder realizar trabajos de diseño para plataformas que trabajan con sistemas
                de software y
                poco
                a poco, guiar a que estas
                empresas se animen a apostar más por el mundo del UX y hacer que la navegación en este rubro sea más
                dinámica y accesible para
                los usuarios.
                En estos tiempos con estos cambios, necesitamos un nuevo punto de vista para muchas cosas sin dejar de
                lado
                la productividad y rentabilidad de estas herramientas.</p>
        </div>
    </main>
    <footer class="footer">
        <h3> David Castro</h3>
        <ul>
            <nav class="nav bar">
                <li> <a href="../index.html">home</a></li>
                <li> <a href="../Paginas/mi-experiencia-laboral.html">Mi experiencia laboral</a></li>
                <li> <a href="../Paginas/proyectos-destacados.html">Proyectos destacados</a></li>
                <li> <a href="Sobre-mí.html">Sobre mí</a></li>
            </nav>
        </ul>
        <p>
            Contacto
            923416407
            david.castro0195@gmail.com
            Copyrights. David Castro. All rigths reserved 2023
        </p>

    </footer>

</body>

</html>